@import '../../scss/mixins';
@import "../../scss/variables";

.table-header {
  @include none-target;
  display: flex;
  margin-top: 1rem;
  border-radius: 5px 5px 0 0;
  .table-header__item {
    cursor: pointer;
    width: 20%;
    line-height: 35px;
    padding-left: 1rem;
    background: #000000;
    color: white;
    font-size: 16px;
    &:first-child {
      border-radius: 5px 0 0 0;
    }
    &:last-child {
      border-radius: 0 5px 0 0;
    }
  }
}