@import '../../scss/mixins';
@import '../../scss/variables';

.table-header {
  @include none-target;
  margin-top: 1rem;
  border-radius: 5px 5px 0 0;
  background: black;
  display: flex;
  justify-content: space-between;
  color: white;

  .table-header__item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 1rem;
    line-height: 35px;
    width: 20%;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;

    .table-header__arrows {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-right: 1rem;
      span {
        font-size: 20px;
        color: #666262;
      }
      .arrow {
        position: absolute;
        top: 8px;
      }
      .active {
        color: #fff;
      }
    }
    .opacity {
      opacity: 0;
    }
  }
}
