@import '../../scss/mixins';
@import '../../scss/variables';

.navbar {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  align-items: center;
  .navbar__title {
    @include none-target;
    font-size: 18px;
    line-height: 35px;
    color: #ffffff;
  }
  .navbar__container {
    margin-left: 270px;
    display: flex;
    button {
      margin-left: 1rem;
    }
  }
}
